<div class="jumbotron">
  <h1 class="display-1">MongooseSC</h1>
  <p class="lead"><i>Technology Articles Scraped for You're Pleasure...</i></p>
  <a href="/scrape" class="btn btn-info">Scrape Articles</a>
  <a href="/articles" class="btn btn-success">Show Articles</a>
</div>
<div class="row text-center">{{message}}</div>
<div class="row">
  <div class="col-12">
    <div class="accordion" id="articleAccordion">
      {{#each articles }}
        <div class="card text-center">
          <div class="card-header" id="{{ this._id }}">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed no-underline" type="button" data-toggle="collapse"
                      data-target="#collapse{{ this._id }}"
                      aria-expanded="false" aria-controls="{{ this._id }}">
                <strong>{{ this.title }}</strong>
              </button>
            </h2>
          </div>

          <div id="collapse{{ this._id }}" class="collapse" aria-labelledby="{{ this._id }}"
               data-parent="#articleAccordion">
            <div class="card-body">
              <!--<h6 class="card-title">Excerpt:</h6>-->
              <h6 class="card-title">{{ this.exerpt }}</h6>
              <p class="card-text text-muted">By: {{ this.author }}</p>
              <a href="{{ this.link }}" class="card-link" target="_blank">{{ this.link }}</a>
            </div>
          </div>
        </div>
      {{/each}}
      <!--<div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
              Collapsible Group Item #2
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
              Collapsible Group Item #3
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
